html, body {

    background: rgb(35,35,35);
    background: -moz-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(35,35,35,1)), to(rgba(30,30,30,1)));
    background: -webkit-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -moz-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -o-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);

    color: #ffffff;
}

a {
    color: #145DFF;
}

select {
    color: white;
    background: #232222;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #525252;
}

div.ui-preloader > h4 {
    font-width: bold;
    font-size: 26px;
}

div.ui-preloader {

    z-index: 900000;

    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;

    background: rgb(35,35,35);
    background: -moz-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(35,35,35,1)), to(rgba(30,30,30,1)));
    background: -webkit-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -moz-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: -o-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(30,30,30,1) 100%);

    color: #ffffff;

}

div.positions > div.table-content {
    padding: 16px;
    display: block
}

div.positions {
    margin-top: 32px;
    max-height: 240px;
    overflow-y: auto;
}

div.zerop {
    padding: 0px !important;;
}

div.logic-error {
    width: 100%;
    background: #F14F4C;
    color: white;
    font-width: bold;
    text-align: center;
    padding: 4px 8px;
    display: none;
}

div.cart {
    background: #232323;
    border: 1px solid #3e3e3e;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 18px -8px #000000;
    -moz-box-shadow: 0px 0px 18px -8px #000000;
    box-shadow: 0px 0px 18px -8px #000000;
}

div.cart > div.bottom{
    background: #1f1d1d;
    padding: 6px 8px;
    border-top: 1px solid #525252;
    font-size: 14px;
}

div.cart > div.top{
    background: #232222;
    padding: 6px 8px;
    border-bottom: 1px solid #525252;
    font-size: 14px;
}

div.cart + .balance {
    margin-top: 32px;
}

div.cart + .conditions {
    margin-top: 32px;
    max-height: 240px;
    overflow-y: auto;
}

div.cart + .liquidation {
    margin-top: 32px;
    max-height: 240px;
    overflow-y: auto;
}

div.cart + .liquidation  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    font-width: bold;
}

div.cart + .orders {
    margin-top: 32px;
    max-height: 640px;
    overflow-y: auto;
}

nav.main > ul {
    height: auto;
    margin: 0;
}

nav.main > ul > li > a {
    color: white;
    text-decoration: none;
}

nav.main > ul > li {
    list-style: none;
    height: auto;
    padding: 8px;
}

nav.main {
    height: auto;
    width: 100%;
    background: #1f1d1d;
    border-bottom: 1px solid #3c3c3c;
}

div.cart + .orders  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    margin-bottom: 12px;
    font-width: bold;
}

div.cart + .orders > #orders-list > tbody > tr > td:last-child {
    float: right;
}

div.cart + .orders > #orders-list > tbody > tr > td:first-child {
    float: left;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

div.cart + .orders > #orders-list > tbody > tr > td {
    padding: 4px;
}

div.cart + .orders > #orders-list > tbody > tr {
    padding: 8px;
    margin: 8px;

    overflow: hidden;
}

div.cart + .orders > #orders-list > tbody > tr > .buy {
    background: rgba(125, 179, 67, 0.4);
    font-weight: bold;
}

div.cart + .orders > #orders-list > tbody > tr > .sell {
    background: rgba(241, 79, 76, 0.4);
    font-weight: bold;
}

div.cart + .orders > #orders-list {
    padding: 4px 8px;
    margin: 4px 8px;
}

div.cart + .orders > #orders-list > div.buy > span.price {
    float: left;
}

div.cart + .orders > #orders-list > div.buy > span.qty {
    float: right;
}

div.cart + .orders > #orders-list > div.sell > span.price {
    float: left;
}

div.cart + .orders > #orders-list > div.sell > span.qty {
    float: right;
}

div.cart + .liquidation > #liquidation-list > div.item {
    margin: 12px 8px;
    padding: 4px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.cart + .liquidation > #liquidation-list > div.buy {

    background: rgb(35,35,35);
    background: -moz-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(114,163,63,1) 90%, rgba(93,129,55,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(114,163,63,1) 90%, rgba(93,129,55,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(35,35,35,1)), color-stop(42%, rgba(35,35,35,1)), color-stop(90%, rgba(114,163,63,1)), to(rgba(93,129,55,1)));
    background: -webkit-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(114,163,63,1) 90%, rgba(93,129,55,1) 100%);
    background: -moz-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(114,163,63,1) 90%, rgba(93,129,55,1) 100%);
    background: -o-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(114,163,63,1) 90%, rgba(93,129,55,1) 100%);
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(114,163,63,1) 90%, rgba(93,129,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232323",endColorstr="#5d8137",GradientType=1);

}

div.cart + .liquidation > #liquidation-list > div.sell {

    background: rgb(35,35,35);
    background: -moz-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(241,79,76,1) 90%, rgba(199,60,57,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(241,79,76,1) 90%, rgba(199,60,57,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(35,35,35,1)), color-stop(42%, rgba(35,35,35,1)), color-stop(90%, rgba(241,79,76,1)), to(rgba(199,60,57,1)));
    background: -webkit-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(241,79,76,1) 90%, rgba(199,60,57,1) 100%);
    background: -moz-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(241,79,76,1) 90%, rgba(199,60,57,1) 100%);
    background: -o-linear-gradient(left, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(241,79,76,1) 90%, rgba(199,60,57,1) 100%);
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(35,35,35,1) 42%, rgba(241,79,76,1) 90%, rgba(199,60,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232323",endColorstr="#c73c39",GradientType=1);

}

div.cart + .users {
    margin-top: 32px;
    max-height: 240px;
    overflow-y: auto;
}

div.cart + .conditions > div#logic-list {
    padding: 4px 8px;
    margin: 4px 0px;
}

div.chart-cart {
    padding: 0px;
}

section.box {
    margin: 32px 0px;
    overflow: hidden;
}

div.cart + .conditions  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    font-width: bold;
}

div.cart + .users  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    font-width: bold;
}

div.cart + .users  > #users-list > .user {
    padding: 4px 8px;
    margin: 4px 0px;
}

div.cart + .users  > #users-list > .user > svg.user-online-indicator {
    font-size: 8px;
    color: #79b83d;
    margin-right: 6px;
}

div.cart + .balance  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    font-width: bold;
}

div.cart + .balance  > div.value {
    padding: 4px 8px;
    margin: 4px 0px;
}

div.data > div.value {
    padding: 4px 8px;
    margin: 4px 0px;
}

div.data > div#deltas-list,
div.data > div#deltas-list > div.delta {
    padding: 2px 2px;
    margin: 2px 2px;
}

div.indicators  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    font-width: bold;
}

div.conditions > div.UI {
    padding: 4px 8px;
}

div.controller {
    text-align: center;
}

div.controller > button#settings {

    background: rgb(0,120,255);
    background: -moz-linear-gradient(90deg, rgba(0,120,255,1) 0%, rgba(0,99,210,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,120,255,1) 0%, rgba(0,99,210,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(0,120,255,1)), to(rgba(0,99,210,1)));
    background: -webkit-linear-gradient(left, rgba(0,120,255,1) 0%, rgba(0,99,210,1) 100%);
    background: -moz-linear-gradient(left, rgba(0,120,255,1) 0%, rgba(0,99,210,1) 100%);
    background: -o-linear-gradient(left, rgba(0,120,255,1) 0%, rgba(0,99,210,1) 100%);
    background: linear-gradient(90deg, rgba(0,120,255,1) 0%, rgba(0,99,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0078ff",endColorstr="#0063d2",GradientType=1);

    color: white;
    width: 100%;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    -webkit-box-shadow: 0px 2px 24px -2px #0078ff;
    -moz-box-shadow: 0px 2px 24px -2px #0078ff;
    box-shadow: 0px 2px 24px -2px #0078ff;

    font-weight: bold;

}

div.controller > button#logic {

    margin-top: 24px;

    background: rgb(121,184,61);
    background: -moz-linear-gradient(90deg, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(121,184,61,1)), to(rgba(107,161,55,1)));
    background: -webkit-linear-gradient(left, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -moz-linear-gradient(left, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -o-linear-gradient(left, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: linear-gradient(90deg, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#79b83d",endColorstr="#6ba137",GradientType=1);

    color: white;
    width: 100%;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    -webkit-box-shadow: 0px 2px 24px -2px rgb(121,184,61);
    -moz-box-shadow: 0px 2px 24px -2px rgb(121,184,61);
    box-shadow: 0px 2px 24px -2px rgb(121,184,61);

    font-weight: bold;

}

div.controller > button#logic-editor {

    margin-top: 24px;

    background: rgb(121,184,61);
    background: -moz-linear-gradient(90deg, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(121,184,61,1)), to(rgba(107,161,55,1)));
    background: -webkit-linear-gradient(left, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -moz-linear-gradient(left, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: -o-linear-gradient(left, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    background: linear-gradient(90deg, rgba(121,184,61,1) 0%, rgba(107,161,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#79b83d",endColorstr="#6ba137",GradientType=1);

    color: white;
    width: 100%;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 12px;
    -webkit-box-shadow: 0px 2px 24px -2px rgb(121,184,61);
    -moz-box-shadow: 0px 2px 24px -2px rgb(121,184,61);
    box-shadow: 0px 2px 24px -2px rgb(121,184,61);

    font-weight: bold;

}

span.marker-buy {
    color: rgb(121, 184, 61);
    font-weight: bold;
}

span.marker-sell {
    color: rgb(188, 71, 103);
    font-weight: bold;
}

div.modal-area {

    background: #232323;
    border: 1px solid #3e3e3e;
    padding: 12px;
    margin: 10% 10%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

div.console > div.message > span.error-conosle-message {
    color: #f14f4c !important;
    font-width: bolder !important;
}

div.console > div.message {
    padding: 4px 8px;
    margin: 0px 0px 4px 0px;
}

div.console > div.message > span.time {
    color: gray;
}

section.box > div > div.console {
    padding: 0px;
    padding-top: 8px;
}

section.box > div > div.console > div.console {
    max-height: 260px;
    overflow-y: auto;
}

span.pnl-up {
    color: #79b83d !important;
    font-weight: bold !important;
}

span.pnl-down {
    color: #f14f4c !important;
    font-weight: bold !important;
}

.int-up {
    color: rgba(125, 179, 67, 1);
}

.int-down {
    color: rgba(241, 79, 76, 1);
}

div.indicators > .deltas-list {
    padding: 4px 8px;
    margin: 4px 8px;
}

button.primary-button {
    background: transparent;
    border: 1px solid #323232;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 8px;
}

button.close-button {
    background-color: rgba(241, 77, 63, 0.2);
    border: 1px solid rgba(241, 77, 63, 0.6);
    padding: 4px 10px;
    color: rgba(241, 77, 63, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Roboto';
    font-width: bold;
}

div.indicators  > h6 {
    padding: 4px 8px;
    margin: 4px 0px;
    margin-bottom: 12px;
    font-width: bold;
}

div.indicators > .deltas-list > tbody > tr > td:last-child {
    float: right;
}

div.indicators > .deltas-list > tbody > tr > td:first-child {
    float: left;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
}

div.indicators > .deltas-list > tbody > tr > td {
    padding: 4px 8px;
}

div.indicators > .deltas-list > tbody > tr > td.up {
    background: rgba(125, 179, 67, 0.4);
    font-weight: bold;
}

div.indicators > .deltas-list > tbody > tr > td.down {
    background: rgba(241, 79, 76, 0.4);
    font-weight: bold;
}

.CodeMirror {
    height: 50vh;
}

.modal-backdrop {
    z-index: 2 !important;
}
.modal {
    z-index: 3 !important;
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background: #323232;
    border: 0px none #323232;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
}
::-webkit-scrollbar-thumb:active {
    background: #454545;
}
::-webkit-scrollbar-track {
    background: #232323;
    border: 0px none #323232;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #232323;
}
::-webkit-scrollbar-track:active {
    background: #232323;
}
::-webkit-scrollbar-corner {
    background: transparent;
}